/* Empty. Add your own CSS if you like */

.vc-container{
    display: flex;
    flex-direction: column;
    height:100%;
}
.row{
    flex:1;
    align-items:center;
}
.col{
    flex:1;
    align-items:center;
}
.icon{
  display:inline;
  align: center;
  height:100%;
  width:100%;
}
.c-button{
  background:transparent;
  font-size:65px;
    color:black;
    text-decoration: none;
}
.c-button:hover{
    color:dimgrey;
}
.scroll{
  height: 100%;
  width: 100%;
}
