<ion-view view-title="Calendar" ng-controller="CalendarCtrl">
  <ion-content>
    <style>h3 {
      height: 110px;
    }
    </style>
    <ion-content>
      <button ng-click="addEvent()" class="button button-block button-balanced">Add to Calendar</button>
      <div class="card" ng-repeat="event in events">
        <div class="item item-divider">
          {{event.title}}
        </div>                    
        <div class="item item-text-wrap">
          {{ event.description }}
          <strong>When: {{ event.date | date:'short' }}</strong>
          <br><br>
          <strong>Outfit: {{ event.outfit }}</strong>
        </div>
      </div>                
    </ion-content>
  </ion-content>
</ion-view>