<ion-view view-title="Calendar" ng-controller="CalendarCtrl">
  <ion-content>
    <style>h3 {
      height: 110px;
    }
    </style>
    <ion-content>
      <button ng-click="addEvent()" class="button button-block button-balanced">Add to Calendar</button>
      <div class="card" ng-repeat="event in events">
        <div class="item item-divider">
          {{event.title}}
        </div>                    
        <div class="item item-text-wrap">
          {{ event.description }}
          <strong>When: {{ event.date | date:'short' }}</strong>
          <br><br>
            <div id="filled">
            <strong>Outfit: {{ event.outfit }} </strong>
            </div>
             <div id="needsFilling">
             <input class = "login" type="text" placeholder="outfit?" id="outfit" ng-model="event.outfit" />
            </div>
            <script>
              console.log("aqui2");
              var x = document.getElementById('filled');
              var y = document.getElementById('needsFilling');
              if(event.outfit == null ){
                x.style.display = 'block';
                y.style.display = 'none';
              }else{
                x.style.display = 'none';
                y.style.display = 'block';
              }
              // This won't execute because this is Ionic and it needs to be in controller. Don't know how to get this to work in controller.
            </script>
        </div>
      </div>                
    </ion-content>
  </ion-content>
</ion-view>