<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Logout</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogout()">Close</button>
    </div>
  </ion-header-bar>
  <script>
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
</script>
  <ion-content>
    <form ng-submit="doLogout()">
        <label class="item item-input">
          <span >Are you sure you want to logout?</span>
        </label>

        <label class="item">
          <button class="button button-block button-negative" type="submit">Yes</button>
        </label>

    </form>
    <label class="item">
      <input class="button button-block button-positive" type="button" value="No" ng-click="backToMyCloset()"/>
    </label>
  </ion-content>
</ion-modal-view>