<ion-view view-title="Outfits", ng-controller="OutfitsCtrl" >

  <ion-nav-buttons side = "secondary" >
    <button ng-click="showPopup()"  class="button button-clear icon ion-plus-round"></button>
  </ion-nav-buttons>
  <ion-content>
    <style>h3 {
      height: 110px;
    }
    </style>

    <label class = "item item-input item-select item-dark">
      <div class = "input-label">
        Select
      </div>

      <select ng-model ="si"  ng-change="selectItem(si)" ng-options="item.name for item in finalOutfits">
      </select>
    </label>

    <div class="list list-inset">
      <div class="item" ng-repeat="subitem in subList"> {{subitem._name}}</div>
    </div>
    <div></div>
    <button class="button button-full button-positive " ng-click="outfitDelete(si)">Delete</button>
  </ion-content>
</ion-view>
