<ion-view view-title="Outfits", ng-controller="OutfitsCtrl">
  <ion-nav-buttons side = "secondary">
    <button ng-click="showPopup()"  class="button button-clear icon ion-plus-round"></button>
  </ion-nav-buttons>
  <ion-content>
    <style>h3 {
      height: 110px;
    }
    </style>
    <h3 align="center">Outfits Blank Page</h3>

    <label class = "item item-input item-select item-dark">
      <div class = "input-label">
        Select
      </div>

      <select>
        <option ng-repeat="item in listOfLists" ng-click = "selectItem(item.name)">{{item.name}}             </option>
      </select>
    </label>

    <div class="list list-inset">
      <div class="item" ng-repeat="subitem in subList"></div>
    </div>

  </ion-content>
</ion-view>
