<ion-view view-title="Wish List" ng-controller = 'WishlishCtrl'>
  <ion-nav-buttons side = "secondary">
    <a href="#/app/newItemWishlist" class = "button button-clear icon ion-plus-round"></a>
  </ion-nav-buttons>
  <ion-content>
    <!--<style>h3 {
      height: 110px;
    }
    </style>-->
    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>
    <button class="button button-icon ion-minus-circled"
    ng-click="data.showDelete = !data.showDelete">

    <!--need to implement pull-to-refresh feature-->


    </button>
    <ion-list show-delete="data.showDelete">
        <ion-item ng-repeat = 'wishitem in wishlist' class="item-thumbnail-left item-text-wrap">
        <img src="img/{{wishitem.itemname}}.jpg" alt="{{ wishitem.itemname}} Photo">
        <h2>{{wishitem.itemname}}</h2>
        <h2>{{wishitem.itembrand}}</h2>
        <h2>{{wishitem.itemColor}}</h2>
          <ion-delete-button class="ion-minus-circled"
                              ng-click="onItemDelete(wishitem)">

          </ion-delete-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
