<ion-view view-title="Wish List" ng-controller = 'WishlishCtrl'>
  <ion-nav-buttons side = "secondary">
    <a href="#/app/newItemWishlist" class = "button button-clear icon ion-plus-round"></a>
  </ion-nav-buttons>
  <!--<ion-content>

    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>
    <button class="button button-icon ion-minus-circled"
    ng-click="data.showDelete = !data.showDelete">

    </button>
    <ion-list show-delete="data.showDelete">
        <ion-item ng-repeat = 'wishitem in wishlistArr' class="item-thumbnail-left item-text-wrap">
        <img src="img/{{wishitem._name}}.jpg" alt="{{ wishitem._name}} Photo">
        <h2>{{wishitem._name}}</h2>
        <h2>{{wishitem._brand}}</h2>
        <h2>{{wishitem._color}}</h2>
          <ion-delete-button class="ion-minus-circled"
                              ng-click="onItemDelete(wishitem)">

          </ion-delete-button>
      </ion-item>
    </ion-list>

  </ion-content>-->
  <ion-content>

    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>

    <ion-list >
      <ion-item ng-repeat='wishitem in wishlistArr' item = 'wishitem' class="item-thumbnail-left item-text-wrap" ng-click="checkFlag(wishitem)">
        <!--<img src="img/{{wishitem._name}}.jpg" alt="{{ wishitem._name}} Photo">-->
        <img ng-src="http://placehold.it/250x250" >
        <h2>{{wishitem._name}}</h2>
        <h2>{{wishitem._brand}}</h2>
        <h2>{{wishitem._color}}</h2>
      <ion-option-button class="button-assertive ion-trash-a" ng-click="removeItem(wishitem)"></ion-option-button>
        <!--<ion-option-button class="button-assertive ion-trash-a" ng-click="tonewPage(wishitem)"></ion-option-button>-->
      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>
