<ion-view view-title="Accessories" ng-controller="ClosetCtrl">
  <ion-nav-buttons side="secondary">
    <a ng-href={{ref}} ng-class=doneOrPlus()></a>
  </ion-nav-buttons>
  <ion-content>

    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>

    <ion-list >
      <ion-item ng-repeat = 'accessories in finalAccessoriesArr' class="item-thumbnail-left item-text-wrap" ng-click="checkFlag(accessories)">
        <!--<img src="img/{{wishitem._name}}.jpg" alt="{{ wishitem._name}} Photo">-->
        <img ng-src="http://placehold.it/250x250" >
        <h2>{{accessories._name}}</h2>
        <h2>{{accessories._brand}}</h2>
        <h2>{{accessories._color}}</h2>
        <ion-option-button class="button-assertive ion-trash-a" ng-click="removeItem(accessories,'Accessories')"></ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
