<ion-view view-title="Accessories" ng-controller="ClosetCtrl">
  <ion-nav-buttons side = "secondary">
    <a ng-href = {{ref}} ng-class = doneOrPlus()></a>
  </ion-nav-buttons>
  <ion-content>
    <style>h3 {
      height: 110px;
    }
    </style>
    <h3 align="center">Accessories Test Page</h3>
    <li class="button button-full" ng-repeat="accessory in finalAccessoriesArr" ng-click="checkFlag()">
      Brand: {{accessory._brand}}<br>Color: {{accessory._color}} <br>Name: {{accessory._name}} <br>Image: {{accessory._img}}</li>
  </ion-content>
</ion-view>
