<ion-view view-title="Formal" ng-controller="ClosetCtrl">
  <ion-nav-buttons side="secondary">
    <a ng-href={{ref}} ng-class=doneOrPlus() ng-click="addOutfitItems()"></a>
  </ion-nav-buttons>
  <ion-content>
    <style>h3 {
      height: 110px;
    }
    </style>
    <h3 align="center">Formal Test Page</h3>
    <li class="button button-full" ng-repeat="formal in finalFormalsArr" ng-click="checkFlag(formal)">
      Id: {{formal._id}}<br>Brand: {{formal._brand}}<br>Color: {{formal._color}} <br>Name: {{formal._name}} <br>Image:
      {{formal._img}}
    </li>
  </ion-content>
</ion-view>
