<ion-view view-title="Jackets" ng-controller="ClosetCtrl">
  <ion-nav-buttons side = "secondary">
  <a href="#/app/newItem" class = "button button-clear icon ion-plus-round"></a>
  </ion-nav-buttons>

  <ion-nav-buttons side = "secondary" ng-if="addItem">
    <button>Select</button>
  </ion-nav-buttons>
  <ion-content>
    <style>h3 {
    height: 110px;
    }
    </style>
    <h3 align="center">Jackets Blank Page</h3>
    <li class="button button-full" ng-repeat="jacket in finalFormalsArr">
      Brand: {{jacket.brand}}<br>Color: {{jacket.color}} <br>Name: {{jacket.name}} <br>Image: {{jacket.img}}</li>
  </ion-content>
</ion-view>
