
<ion-view view-title="Add Item to Closet" ng-controller="newitemCtrl">
  <ion-content>

    <body>
    <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" id="itemImg" ng-model="item._img">
    <img ng-show="imgURI === undefined" ng-src="http://placehold.it/250x250">
    <button class="button button-full button-positive " ng-click="takePicture() ">Take Image</button>
    <br/>


    </body>

    <div class="card">

      <select id="item category" ng-model="item._category">
        <option value = "" selected>Tops</option>
        <option>Pants</option>
        <option>Shoes</option>
        <option>Formal</option>
        <option>Jackets</option>
        <option>Accessories</option>
      </select>

      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" placeholder="e.g. My Favorite Sweater" id="item Name" ng-model="item._name">
      </label>

      <label class="item item-input">
        <span class="input-label">Brand</span>
        <input type="text" placeholder="e.g. Nike" id="item Brand" ng-model="item._brand">
      </label>

      <label class="item item-input">
        <span class="input-label">Color</span>
        <input type="text" placeholder="e.g. Red" id="item Color" ng-model="item._color">
      </label>

    </div>

    <button class="button button-positive" ng-click="backtocloset(item)">
      Save
    </button>

  </ion-content>
</ion-view>
