<ion-view view-title="newItem">
  <ion-content>
    <style>h3 {
      height: 110px;
    }
    </style>
    <h3 align="center">Add new item</h3>

    <div class="card">
      <label class ="item item-input">,
        <span class = "input-label">Brand</span>
        <input type="text" placeholder="e.g. Nike">
      </label>

      <label class ="item item-input">
        <span class = "input-label">Size</span>
        <input type="text" placeholder="e.g. XL">
      </label>


      <label class ="item item-input">
        <span class = "input-label">Color</span>
        <input type="text" placeholder="e.g. Red">
      </label>

    </div>

    <button class="button button-positive" >
      save
    </button>

  </ion-content>
</ion-view>

