<ion-view view-title="Shoes" ng-controller="ClosetCtrl">
  <ion-nav-buttons side = "secondary">
    <a ng-href = {{ref}} ng-class = doneOrPlus()></a>
  </ion-nav-buttons>
  <ion-content>
    <style>h3 {
      height: 110px;
    }
    </style>
    <h3 align="center">Shoes Test Page</h3>
    <li class="button button-full" ng-repeat="shoe in finalShoesArr" ng-click="checkFlag()">
      Brand: {{shoe._brand}}<br>Color: {{shoe._color}} <br>Name: {{shoe._name}} <br>Image: {{shoe._img}}</li>
  </ion-content>
</ion-view>
