<ion-view view-title="login" ng-controller="loginCtrl" hide-nav-bar="true">
  <ion-content class="loginPage">
    <style>h3 {
      height: 110px;
    }
    </style>
    <br><br>

    <div class="centerDiv">
      <img src="img/virtualCloset.png"/>

      <input class= "login" type="text" placeholder="Email" id="email" ng-model="$parent.email" />
      <input class = "login" type="password" placeholder="Password" id="password" ng-model="$parent.password" />
      <input type="button" class = "loginButton" value="Login" ng-click="loginToAccount()"/>
      <br>
      <input type="button" class = "loginButton" value="Sign Up" ng-click="toRegisterPage()"/>
      <br>
      <input type="button" class = "loginButton" value="Google Login" ng-click="googleLogin()"/>
    </div>


  </ion-content>
</ion-view>
