<ion-view view-title="register" ng-controller="registerCtrl" hide-nav-bar="true">
  <ion-content>
    <style>h3 {
      height: 110px;
    }
    </style>
    <br><br>
    <div class="centerDiv">
      <img src="img/virtualCloset.png"/>
      <h1 class="create">Create an Account</h1>
      <input type="text" class="login" placeholder="Email" id="email" ng-model="$parent.email" />
      <input type="password" class="login" placeholder="Password" id="password" ng-model="$parent.password" />

      <input type="button" class="registerbutton"id="backButton" value="Back" ng-click="backToLogin()"/>
      <input type="button" class="registerbutton"id="registerButton" value="Submit" ng-click="register()"/>


    </div>


  </ion-content>
</ion-view>

