<ion-view view-title="Virtual Closet">
  <ion-nav-buttons side = "secondary">
    <button class = "button button-clear icon ion-plus-round"></button>
  </ion-nav-buttons>
<ion-pane>
  <ion-content scroll = "false">
  <section class = "vc-container">

    <div class = "row icon-row">
      <div class = "col text-center">
         <a href = "templates/tops.html" class ="button t-button"><i class = "flaticon-t-shirt"></i></a><br>
         Tops
      </div>

      <div class = "col text-center">
        <a href = "templates/pants.html" class = "button t-button"><i class = "flaticon-fashion"></i></a><br>
        Pants
      </div>
    </div>
    <div class = "row icon-row">
      <div class = "col text-center">
        <a href = "templates/shoes.html" class = "button t-button"><i class = "flaticon-sport"></i></a> <br>
        Shoes
      </div>

      <div class = "col text-center">
        <a href = "templates/formal.html" class = "button t-button"><i class = "flaticon-party"></i></a><br>
        Formal
      </div>
    </div>

    <div class = "row icon-row">
      <div class = "col text-center">
        <a href = "templates/jackets.html" class = "button t-button"><i class = "flaticon-man"></i></a><br>
        Jackets
      </div>

      <div class = "col text-center">
        <a href = "templates/accessories.html" class ="button t-button"><i class = "flaticon-fashion-1"></i></a><br>
        Accessories
      </div>
    </div>
  </section>

  </ion-content>
</ion-pane>
</ion-view>
