<ion-view view-title="Virtual Closet">
<ion-pane>
  <ion-content scroll = "false">
  <section class = "vc-container">

    <div class = "row icon-row">
      <div class = "col text-center">
         <a class ="button"><i class = "icon ion-tshirt"></i></a><br>
         Tops
      </div>

      <div class = "col text-center">
        <a class = "button button-clear"></a><br>
        Pants
      </div>
    </div>
    <div class = "row icon-row">
      <div class = "col text-center">
        <a class = "button button-clear"></a> <br>
        Shoes
      </div>

      <div class = "col text-center">
        <a class = "button button-clear"></a><br>
        Formal
      </div>
    </div>

    <div class = "row icon-row">
      <div class = "col text-center">
        <a class = "button button-clear"></a><br>
        Jackets
      </div>

      <div class = "col text-center">
        <a class ="button"><i class = "icon ion-bowtie"></i></a><br>
        Accessories
      </div>
    </div>
  </section>

  </ion-content>
</ion-pane>
</ion-view>
